<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title - Aerolinea</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />

    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script-->

    <link rel="stylesheet" href="~/Content/custom/mdl/material.cyan-red.min.css" />
    <script src="~/Content/custom/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />

    <link rel="stylesheet" href="~/Content/custom/styles.css" />
</head>
<body>
    <div class="aerolinea-bg mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a href="Index.aspx" class="mdl-layout-title">
                    <img src="~/Content/images/aerolinea_logo_white_small.png" height="60" alt="logo" />
                </a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <!--Html.ActionLink("Texto", "Pagina", "Carpeta")-->
                    <a class="mdl-navigation__link " id="s1-dropdown">
                        Vuelos
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="s1-dropdown">
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                    </ul>
                    <a class="mdl-navigation__link" id="s2-dropdown">
                        Visitas
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="s2-dropdown">
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                    </ul>

                    <a class="mdl-navigation__link" id="s3-dropdown">
                        Historial de pasajero
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="s3-dropdown">
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                    </ul>

                    <a class="mdl-navigation__link" id="s4-dropdown">
                        Migrantes
                        <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="s4-dropdown">
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                        <li>@Html.ActionLink("Texto", "About", "Home", new { @class = "mdl-menu__item" })</li>
                    </ul>

                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <br />
            <br />
            <span class="mdl-layout-title">
                <img src="~/Content/images/aerolinea_logo.png" width="180" alt="logo" />
            </span>
            <br />
            <nav class="mdl-navigation">
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Contact", "Home", new { @class = "mdl-navigation__link" })
                <p>Servicio 1</p>
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                <p>Servicio 2</p>
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                <p>Servicio 3</p>
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                <p>Servicio 4</p>
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("Texto", "Index", "Home", new { @class = "mdl-navigation__link" })
            </nav>
        </div>


        <main class="mdl-layout__content">
            <br />
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--8-col">
                    @if (@ViewBag.FullTitle != null)
                    {
                        <div class="mdl-typography--text-capitalize mdl-typography--text-center mdl-button--accent mdl-typography--display-2">
                            @ViewBag.FullTitle
                        </div>
                    }
                    @if (@ViewBag.Subtitle != null)
                    {
                        <div class="mdl-typography--subhead mdl-typography--text-center">
                            <br />
                            @ViewBag.Subtitle
                            <br />
                        </div>
                    }
                    @if (@ViewBag.Paragraph != null)
                    {
                        <div class="mdl-typography--body-1 mdl-typography--text-justify">
                            <br />
                            <br />
                            @ViewBag.Paragraph
                            <br />
                            <br />
                        </div>
                    }
                    @RenderBody()
                </div>
                <div class="mdl-cell mdl-cell--2-col"></div>

            </div>
            <br />
            <br />
            <br />
        </main>


        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <ul class="mdl-mini-footer__link-list">
                    <li class="mdl-layout--large-screen-only"><a href="#">Contáctenos</a></li>
                    <li>Develorper by: © Anto, Quinto, Reyes</li>
                </ul>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>


