
@{
    ViewBag.Title = "ConsultaMaxMigrantesNacionalidad";
    ViewBag.FullTitle = "Consulta del país con máxima cantidad de migrantes";
    ViewBag.Subtitle = "Consulta del País con mayor cantidad de migrantes de cierto país en todo el historial de vuelos";
}

@using (Html.BeginForm("Consultar", "migrante"))
{
    <select id="listaPaises" onchange="setValuePais">
        @foreach (var item in ViewBag.ListarPaises)
        {
            <option value="@item.CodPais" name="codPaisNac">@item.NomPais</option>
        }
    </select>
    <br />
    <input type="hidden" id="vP" />
    <input type="submit" name="Consultar" onclick="setValuePais"/>
}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Nombre del Pais: </td>
            <td>@ViewBag.NomPais</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Moneda: </td>
            <td>@ViewBag.Moneda</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Idioma: </td>
            <td>@ViewBag.Idioma</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">CantVuelos: </td>
            <td>@ViewBag.CantVuelos</td>
        </tr>
    </tbody>
</table>


<script language="javascript" type="text/javascript">
    function setValuePais() {
        alert("ok");
        var e = document.getElementById("listaPaises");
        var valPais = e.options[e.selectedIndex].value;
        var i = document.getElementById("vP");
        i.value = valPais;
    }
</script>