@{
    ViewBag.Title = "Lista de Historial de Pasajeros";
    ViewBag.FullTitle = "Lista de Historial de Pasajeros";
}

@using (Html.BeginForm("Buscar", "pasajero"))
{

    <table>
        <tr>
            <td>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button"  name="condicion" value="Todas" checked>
                    <span class="mdl-radio__label">Todas</span>
                </label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="condicion" value="PorNombre">
                    <span class="mdl-radio__label">Por Nombre</span>
                </label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input type="radio" id="option-3" class="mdl-radio__button" name="condicion" value="PorDNI">
                    <span class="mdl-radio__label">Por DNI</span>
                </label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fecha inicio: </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="date" id="sample1" name="fecIni">
                    <label class="mdl-textfield__label" for="sample1"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Fecha fin: </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="date" id="sample2" name="fecFin">
                    <label class="mdl-textfield__label" for="sample2"></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample3" name="criterio">
                    <label class="mdl-textfield__label" for="sample3"></label>
                </div>
            </td>
            <td>
                <div class="mdl-typography--text-center">
                    <input type="submit" name="Buscar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
                </div>
            </td>
        </tr>
    </table>
}

<table class="mdl-shadow--2dp" style="background-color: white">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Lugar Origen</th>
        <th>Lugar Destino</th>
        <th>Fecha Despeque</th>
        <th>Fecha Llegada</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Nacionalidad</th>
        <th>Genero</th>
    </tr>
    @foreach (var pas in ViewBag.Lista)
    {
        <tr>
            <td>@pas.CodPasajero</td>
            <td>@pas.NomPasajero</td>
            <td>@pas.LugarOrigen</td>
            <td>@pas.LugarDestino</td>
            <td>@pas.FechaDespeque.ToString("dd/MM/yy")</td>
            <td>@pas.FechaLlegada.ToString("dd/MM/yy")</td>
            <td>@pas.DNI</td>
            <td>@pas.Email</td>
            <td>@pas.NumTelefono</td>
            <td>@pas.Nacionalidad</td>
            <td>@pas.Genero</td>
        </tr>
    }
</table>
